$prime: #FC9E4A;

svg {
  position: absolute;
  top: -9999px;
  left: 12345px;
}

#btn {
  border: none;
  filter: url('#gooey');

  & {
    outline: none;
  }
}

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bubble {
  background-color: $prime;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;

  @for $bubble from 1 through 10 {
    &:nth-child(#{$bubble}) {
      $size: 25px;
      left: (random(300) - 5)+px;
      width: $size;
      height: $size;
      animation: move-#{$bubble} #{3 + $bubble*0.02}s infinite;
      animation-delay: #{$bubble*0.2}s;
      @media screen and (max-width: $mobile) {
        $size: 15px;
        width: $size;
        height: $size;
        left: (random(170) - 5)+px;
      }
    }
  }


  @for $bubble from 1 through 10 {
    @keyframes move-#{$bubble} {
      0% {
        transform: translate(0, 0);
      }
      99% {
        transform: translate(0, -(random(100) + 50)+px);
      }
      100% {
        transform: translate(0, 0);
        opacity: 0;
      }
    }
  }
}