@import '~normalize.css';
@import 'reset';


// Header

.header {

  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;

    .header__wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  }

}
