@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url('../../data/assets/font/Gilroy-Regular.ttf');
}

@font-face {
  font-family: "GilroyBold";
  font-style: normal;
  font-weight: 700;
  src: url('../../data/assets/font/Gilroy-Bold.ttf');
}

@font-face {
  font-family: "GilroyMedium";
  font-style: normal;
  font-weight: 500;
  src: url('../../data/assets/font/Gilroy-Medium.ttf');
}

@font-face {
  font-family: "GilroySemiBold";
  font-style: normal;
  font-weight: 600;
  src: url('../../data/assets/font/Gilroy-Semibold.ttf');
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

$breakpoints: (
    "phone": 400px,
    "phone-wide": 480px,
    "phablet": 560px,
    "tablet-small": 640px,
    "tablet": 768px,
    "tablet-wide": 1024px,
    "desktop": 1248px,
    "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
