@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url('../../data/assets/font/Gilroy-Regular.ttf');
}

@font-face {
  font-family: "GilroyBold";
  font-style: normal;
  font-weight: 700;
  src: url('../../data/assets/font/Gilroy-Bold.ttf');
}

@font-face {
  font-family: "GilroyMedium";
  font-style: normal;
  font-weight: 500;
  src: url('../../data/assets/font/Gilroy-Medium.ttf');
}

@font-face {
  font-family: "GilroySemiBold";
  font-style: normal;
  font-weight: 600;
  src: url('../../data/assets/font/Gilroy-Semibold.ttf');
}

