@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url('../../data/assets/font/Gilroy-Regular.ttf');
}

@font-face {
  font-family: "GilroyBold";
  font-style: normal;
  font-weight: 700;
  src: url('../../data/assets/font/Gilroy-Bold.ttf');
}

@font-face {
  font-family: "GilroyMedium";
  font-style: normal;
  font-weight: 500;
  src: url('../../data/assets/font/Gilroy-Medium.ttf');
}

@font-face {
  font-family: "GilroySemiBold";
  font-style: normal;
  font-weight: 600;
  src: url('../../data/assets/font/Gilroy-Semibold.ttf');
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #343434;
}

.body {
  font-family: 'Gilroy', serif;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(246, 246, 246, 0.75);
}

$mobile: 500px;
$tablet: 767px;
$tablet: 960px;
