@import "~normalize.css";

body {
  font: 16px/1.4 'Roboto', sans-serif;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.block {
  width: 150px;
  height: 150px;
  border: 3px;
}

.RedBtn {
  width: 70px;
  height: 70px;
  background-color: rgba(11, 225, 207, 0.52);
  border: 3px dot-dash #000000;
}

.container {
  width: 350px;
  height: 350px;

}